<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include  ../common/include-meta.ejs%>
    <%- include  ../common/include-css.ejs%>
    <%- include  ../common/include-js.ejs%>
    <title>奶爸</title>

    <script type="text/javascript">
        require(['user/login']);
    </script>

</head>
<body class="nb-index-bg">
<%- include  ../common/header.ejs%>
<%- include  ../common/footer.ejs%>
</body>
</html>