<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include  ../common/include-meta.ejs%>
    <%- include  ../common/include-css.ejs%>
    <%- include  ../common/include-js.ejs%>
    <title>奶爸</title>

    <script type="text/javascript">
        require(['js/index/index']);
    </script>

</head>
<body>
<%- include  ../common/header.ejs%>

<div class="container nb-content">
    <div class="jumbotron">
        <h1>不好意思，出错了!</h1>
        <p><a class="btn btn-primary btn-lg" href="http://localhost:3000/" role="button">转向首页</a></p>
    </div>
</div>

<%- include  ../common/footer.ejs%>
</body>
</html>